/* 

	General Styles 
	by Kenton Web Design 
	@ https://www.kentonwd.com 
	For more info Email us at info@kentonwd.com

*/

/* Generals */
html {}
body {
	margin: 0 0 25px 0;
	padding: 0;
	background: #FFFFFF;
}

/* Coming Soon */
.register-now {
	margin: -20px 0 0 0;
	padding: 0;
	background-color: #C70039;
}
.register-now h2 {
	width: 100%;
	
	font-size: 5em;
	color: #FFFFFF;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
}

/* Logo */
.logo {
	padding: 25px 0 25px 0;
}
.logo img {
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Mid Content */
.middle.content {
	padding: 10px 5px 20px 5px;
	color: #FFFFFF;
	overflow: hidden;
	background-color: #002854;
	text-align: center;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.middle.content h1 {
	margin: -10px 0 -10px 0;
	font-size: 8.3em;
	text-transform: uppercase;
}
.middle.content a.map2 {
	width: 528px;
	height: 396px;
	background: url(../img/key-map2.jpg) no-repeat center;
	overflow: hidden;
	display: block;
}
.middle.content a.map2:hover {
	background: url(../img/key-map-hover2.jpg) no-repeat center;
	display: block;
}
.middle.content img {
	width: 520.5px !important;
	height: 390px !important;
	margin-left: 0.5px;
}
.middle.content span.commercial {
	padding: 0;
	font-size: 1.8em;
	font-weight: 400;
	text-transform: uppercase;
}
.middle.content span {
	padding: 5px 0;
	font-size: 38px;
	font-weight: 300;
	line-height: 34px;
	display: block;
}
.middle.content img {
	width: 100%;
}

/* Submid Content */
.submid.content {
	padding: 45px 5px 5px 5px;
	color: #00164e;
}
.submid.content span.phone {
	margin-bottom: -10px;
	font-family: 'Lato', sans-serif;
	font-size: 6.0em;
	font-weight: 900;
	letter-spacing: -2px;
	text-align: center;
	display: block;
}
.submid.content span.domain {
	margin-bottom: -10px;
	padding: 0;
	font-size: 2.15em;
	text-align: center;
	display: block;
}
.submid.content hr {
	margin-top: 35px;
	padding-bottom: 25px;
	border: none;
	border-top: 2px solid #333333;
}
.submid.content .citi {
	margin-top: 0;
}
.submid.content h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Lato', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-align: center;
}

/* Foot */
.foot {
	width: 100%;
	padding: 20px 0;
	background-color: #002854;
	overflow: hidden;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
}

/* Registration Form */
.reg-form {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px 20px 29px 20px;
	background-color: #F1F1F1;

	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
	border-radius: 5px;
}
.reg-form h2 {
	color: red;
	font-weight: bold;
	text-transform: uppercase;
}
.reg-form input {
	margin-top: 25px;
}
.reg-form select {
	width: 100%;
	height: 34px;
}